/* Add to your stylesheet */
.navbar-brand img {
    height: 100px;
    width: auto; /* Maintain aspect ratio */
}

.hover-effect {
    width: 100%;
    height: auto;
    transition: filter 0.5s ease;
  }

.hover-effect:hover {
    filter: grayscale(100%); /* For grayscale effect */
    filter: invert(100%); 
  }

  
@media (max-width: 768px) {
    .navbar-brand img {
        height: 20px; /* Smaller logo for smaller devices */
    }
}

/* Add these styles to your styles.css or a component-specific CSS file */
.navbar-nav {
    font-size: 18px; /* Larger font size */
}

.nav-item {
    padding: 10px 15px; /* Larger padding */
}

.nav-link {
    font-weight: bold; /* Optional: makes the text bold */
}

.navbar-nav :hover{
    font-weight: bold; /* Optional: makes the text bold */
    color: brown;
}




/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar-nav {
        font-size: 16px; /* Smaller font size on mobile */
    }
    .nav-item {
        padding: 8px 10px; /* Smaller padding on mobile */
    }
}
