<h1 class="heading">{{ 'Live_Painting_Events_Title' | translate }}</h1>
<p class="subheading">{{ 'Live_Painting_Events_Description' | translate }}</p>

<div class="events-container">
  <div *ngFor="let event of events" class="event-card">
    <img [src]="event.image" alt="{{ event.title | translate }}" class="event-image">
    <div class="event-details">
      <h3>{{ event.title | translate }}</h3>
      <p>{{ event.date }}</p>
      <p>{{ event.description | translate }}</p>
      <button 
        class="heart-button" 
        [ngClass]="{'liked': event.liked}" 
        (click)="onHeartClick(event)">
        <i class="fas fa-heart"></i>
      </button>
    </div>
  </div>
</div>

<h1 class="heading">Other Services</h1>

<div class="button-container">
  <button class="service-button" [routerLink]="['/graffiti']">Graffiti Arts</button>
  <button class="service-button" [routerLink]="['/street-art-tours']">Street Art Tour</button>
</div>
