<h1 class="heading">{{ 'STREET_ART_TOURS' | translate }}</h1>
<p class="subheading">{{ 'STREET_ART_TOURS_DESCRIPTION' | translate }}</p>

<div class="slideshow-container" (wheel)="onScroll($event)">
  <div class="image-wrapper">
    <img [src]="images[currentImageIndex].url" alt="Street Art Image" class="slideshow-image">
    <div class="text-overlay">
      <h2>{{ images[currentImageIndex].titleKey | translate }}</h2>
      <p>{{ images[currentImageIndex].descriptionKey | translate }}</p>
    </div>
  </div>
</div>

<h1 class="heading">{{ 'OTHER_SERVICES' | translate }}</h1>

<div class="button-container">
  <button class="service-button" [routerLink]="['/live-painting']">{{ 'LIVE_PAINTING' | translate }}</button>
  <button class="service-button" [routerLink]="['/street-art-tours']">{{ 'STREET_ART_TOUR' | translate }}</button>
</div>
