.carousel img {
  height: 600px; /* Fixed height for all images */
  object-fit: cover; /* Ensures the image covers the container */
  transition: filter 0.3s ease; /* Smooth transition for the effect */
  border-radius: 10px; /* Rounded corners */
}

.carousel img:hover {
  filter: invert(90%); /* Invert the colors on hover */
  cursor: url('../../assets/images/paintbrush.png'), auto; /* Use custom cursor image */
}

.glass-header {
  backdrop-filter: blur(10px); /* Blur effect for glass-like appearance */
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.glass-header h1 {
  font-size: 100px;
  font-weight: 1000;
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
  background-image: url(../../assets/images/text.jpg);
  background-size: 150px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: color 0.3s ease; /* Smooth transition for text color change */
}

.glass-header h1:hover {
  background-image: url(../../assets/images/text2.jpg);
}

.glass-header p {
  font-size: 20px; /* Adjust as needed */
  margin-top: 10px;
}

.glass-header p::before,
.glass-header p::after {
  content: '"';
  font-size: 24px;
}

/* home.component.css */
.service-section {
  padding: 3rem 0;
}

.card {
  border-radius: 15px;
  overflow: hidden;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
}

/* Keyframes for sliding in from the left */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Keyframes for sliding in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Delay animations */
.animate-left {
  animation: slideInLeft 1s ease-out;
  animation-delay: 0.9s; /* Adjust the delay as needed */
}

.animate-right {
  animation: slideInRight 1s ease-out;
  animation-delay: 0.9s; /* Adjust the delay as needed */
}

/* about-section.component.css */
.timeline {
  padding: 20px;
  border-radius: 8px;
  color: var(--text-color-day);
}

.timeline-item {
  margin: 10px 0;
  color: var(--text-color-day);
}

.timeline-year.bubble {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #514f31;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.timeline-year.bubble:hover {
  background-color: #387613;
}

.timeline-content {
  display: inline-block;
  vertical-align: top;
  background-color: var(--background-color-day);
  color: var(--text-color-day);
  padding: 10px;
  border-radius: 4px;
}

/* Night mode overrides */
.night-mode .timeline {
  background-color: var(--background-color-night);
  color: var(--text-color-night);
}

.night-mode .timeline-item {
  color: var(--text-color-night);
}

.night-mode .timeline-content {
  background-color: var(--background-color-night);
  color: var(--text-color-night);
}