<div class="container mt-4 carousel">
  <carousel [interval]="2000"> <!-- Auto slide every 2 seconds -->
    <slide *ngFor="let image of images">
      <img [src]="image" alt="Street Photography" class="d-block w-100 carousel-image">
    </slide>
  </carousel>
</div>

<header class="glass-header">
  <h1>{{ 'HOME_TITLE' | translate }}</h1>
  <p>{{ 'HOME_DESCRIPTION' | translate }}</p>
</header>


<!-- Service Section -->
<div id="service-section" class="service-section container mt-5">
  <h2 class="text-center">{{ 'SERVICE_TITLE' | translate }}</h2>
  <p class="text-center">{{ 'SERVICE_DESCRIPTION' | translate }}</p>
  <div class="row">
    <div class="col-md-3" *ngFor="let service of services">
      <div class="card mb-4 shadow-sm">
        <img [src]="service.image" class="card-img-top" alt="{{ service.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ service.title }}</h5>
          <p class="card-text">{{ service.description }}</p>
          <p class="card-text"><strong>Price: {{ service.price }}</strong></p>
          <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- About us -->
<div id="about-section" class="about-section container mt-5">
  <h2 class="text-center">{{ 'ABOUT_TITLE' | translate }}</h2>
  <p class="text-center">{{ 'ABOUT_DESCRIPTION' | translate }}</p>
  <div class="row align-items-center">
    <!-- Left Column - Image -->
    <div class="col-md-6 text-center animate-left">
      <img src="assets/images/about-us.jpg" alt="About Us" class="img-fluid rounded">
    </div>
    <!-- Right Column - Description -->
    <div class="col-md-6 animate-right">
      <h3>{{ 'ABOUT_US_HEADING' | translate }}</h3>
      <p>{{ 'ABOUT_US_DESCRIPTION' | translate }}</p>
    </div>
  </div>
</div>



