<h1 class="heading">Graffiti Art</h1>
<p class="subheading">Custom graffiti designs for private and public clients.</p>

<div class="quilted-image-list">
  <div *ngFor="let image of images" [ngClass]="image.size" (click)="openModal(image)">
    <img [src]="image.src" alt="Graffiti Art" class="img-fluid">
  </div>
</div>

<h1 class="heading">Other Services</h1>

<div class="button-container">
  <button class="service-button" [routerLink]="['/live-painting']">Live Painting Events</button>
  <button class="service-button" [routerLink]="['/street-art-tours']">Street Art Tour</button>
</div>

<!-- Modal -->
<div class="modal" [ngClass]="{'show': selectedImage}" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="image-container">
      <img [src]="selectedImage?.src" alt="Graffiti Art" class="modal-image">
    </div>
    <div class="modal-details">
      <h2>{{ selectedImage?.title }}</h2>
      <p>Created by: {{ selectedImage?.artist }}</p>
    </div>
  </div>
</div>



  
