<h1 class="heading">{{ 'GRAFFITI_ART' | translate }}</h1>
<p class="subheading">{{ 'GRAFFITI_DESCRIPTION' | translate }}</p>

<div class="quilted-image-list">
  <div *ngFor="let image of images" [ngClass]="image.size" (click)="openModal(image)">
    <img [src]="image.src" alt="Graffiti Art" class="img-fluid">
  </div>
</div>

<h1 class="heading">{{ 'OTHER_SERVICES' | translate }}</h1>

<div class="button-container">
  <button class="service-button" [routerLink]="['/live-painting']">{{ 'LIVE_PAINTING_EVENTS' | translate }}</button>
  <button class="service-button" [routerLink]="['/street-art-tours']">{{ 'STREET_ART_TOUR' | translate }}</button>
</div>

<!-- Modal -->
<div class="modal" [ngClass]="{'show': selectedImage}" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="image-container">
      <img [src]="selectedImage?.src" alt="Graffiti Art" class="modal-image">
    </div>
    <div class="modal-details">
      <h2>{{ (selectedImage?.title || '') | translate }}</h2>
      <p>{{ 'CREATED_BY' | translate }}: {{ selectedImage?.artist || '' }}</p>
    </div>
  </div>
</div>
